@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

* {
    font-family: 'Cairo', sans-serif;
}

@media (max-width : 1000px) {
    header
    {
        direction: ltr;
    }
}

/* html[lang="ar"] .align-ar {
    text-align: right;
}
 */








